<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Trang đăng kí</title>
</head>
<body>
<h1>Trang đăng ký</h1>
<p>
    <a href="/index">Danh sách</a>
</p>
<form th:action="@{/user}" method="post" th:object="${user}">
    <p>First name:</p>
    <p>
        <input type="text" th:field="*{firstName}">
    </p>
    <a th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}">Name Error</a>
    <p>Last name:</p>
    <p>
        <input type="text" th:field="*{lastName}">
    </p>
    <a th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}">Name Error</a>
    <p>Phone Number:</p>
    <p>
        <input type="text" th:field="*{phoneNumber}">
    </p>
    <a th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}">Name Error</a>
    <p>Age:</p>
    <p>
        <input type="text" th:field="*{age}">
    </p>
    <a th:if="${#fields.hasErrors('age')}" th:errors="*{age}">Name Error</a>
    <p>Email:</p>
    <p>
        <input type="text" th:field="*{email}">
    </p>
    <a th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Name Error</a>
    <p><input type="submit" value="Create"></p>
</form>
</body>
</html>